
div.ItemRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  padding: 5px;

  &:hover {
    background-color: #555;
  }

  div.ItemRow-LayerIcon {
    width: 20px;
  }

  div.ItemRow-Name {
    padding-left: 10px;
    margin-right: 10px;
  }

  div.ItemRow-Icons {
    flex-grow: 1;
    height: 16px;
    padding: 2px;
  }

  div.ItemRow-SelectButton {
    height: 16px;
    padding: 2px;
  }
}

i.ItemIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 2px;

  &.ItemIcon-Map {
    background-image: url(../../images/map.svg);
  }

  &.ItemIcon-Drawing {
    background-image: url(../../images/drawing.svg);
  }

  &.ItemIcon-Prop {
    background-image: url(../../images/prop.svg);
  }

  &.ItemIcon-Mount {
    background-image: url(../../images/mount.svg);
  }

  &.ItemIcon-Character {
    background-image: url(../../images/character.svg);
  }

  &.ItemIcon-Attachment {
    background-image: url(../../images/attachment.svg);
  }

  &.ItemIcon-Note {
    background-image: url(../../images/note.svg);
  }

  &.ItemIcon-Text {
    background-image: url(../../images/text.svg);
  }

  &.ItemIcon-Locked {
    background-image: url(../../images/locked.svg);
  }

  &.ItemIcon-Hidden {
    background-image: url(../../images/hidden.svg);
  }

  &.ItemIcon-DisabledHit {
    background-image: url(../../images/disabledHit.svg);
  }

  &.ItemIcon-Metadata {
    background-image: url(../../images/metadata.svg);
  }

  &.ItemIcon-Select {
    background-image: url(../../images/select.svg);
  }

  &.ItemIcon-Delete {
    background-image: url(../../images/delete.svg);
  }
}

