<div class="ItemDetails">
    <button class="ItemDetails-BackButton">Back</button>
    <div class="ItemDetails-ItemRow"></div>
    <div class="ItemDetails-Details"></div>
    <dt>Metadata:</dt>
    <div class="ItemDetails-Metadata"></div>
</div>
