
main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;

    div#itemsTab, div#metadataTab {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 0;
    }

    room-metadata-tab, scene-metadata-tab, player-metadata-tab, scene-items-tab, local-items-tab {
        height: 100%;
        min-height: 0;
    }
}
