
form {
    padding: 1em;
}

div.resetButton {
    display: flex;
    justify-content: end;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0.75em 0;

    form-control {
        flex-grow: 1;
        text-align: center;
    }
}

label {
    width: 35%;
    margin-top: 0.5em;
    flex-grow: 0;
}
