<div class="ItemRow">
    <div class="ItemRow-LayerIcon"></div>
    <div class="ItemRow-Name"></div>
    <div class="ItemRow-Icons"></div>
    <div class="ItemRow-SelectButton"><i class="ItemIcon ItemIcon-Select"></i></div>
    <div style="display: none" class="ItemRow-DeleteButton"><i class="ItemIcon ItemIcon-Delete"></i></div>
</div>
