<div>
    <div class="tabs border-b-4 border-border mb-6">
        <div id="SceneItemsButton" class="tab tab-pill">Scene Items</div>
        <div id="LocalItemsButton" class="tab tab-pill tab-active">Local Items</div>
        <div id="RoomMetadataButton" class="tab tab-pill">Room Metadata</div>
        <div id="SceneMetadataButton" class="tab tab-pill">Scene Metadata</div>
        <div id="UserMetadataButton" class="tab tab-pill">User Metadata</div>
    </div>
</div>
