<div>
    <div style="margin-bottom: 1em">
        <button id="SceneItemsButton">Scene Items</button>
        <button id="LocalItemsButton">Local Items</button>
        <button id="RoomMetadataButton">Room Metadata</button>
        <button id="SceneMetadataButton">Scene Metadata</button>
        <button id="UserMetadataButton">User Metadata</button>
    </div>
</div>
